/*
 * Wendell Free Library Circulation styles
 *
 * These style settings relate to the short codes used for the front end
 * pages for this plug in.
 *
 * See css/admin.css for back end (admin) styles.
 */

/* Non-specific classes and ids */

/* (lifted from WP's admin css) */

/* Hide visually but not from screen readers */
.screen-reader-text,
.screen-reader-text span {
        position: absolute;
        left: -1000em;
        height: 1px;
        width: 1px;
        overflow: hidden;
}

.hidden,
.js .closed .inside,
.js .hide-if-js,
.no-js .hide-if-no-js {
        display: none;
}


.weblib_tablenav {
}
/* Bulk Actions */
.weblib_tablenav-pages a,
.weblib_tablenav-pages-navspan {
	font-weight: 600;
	padding: 0 2px;
}

.weblib_tablenav-pages .current-page {
	margin: 0 2px 0 0;
	padding-bottom: 5px;
	font-size: 13px;
	text-align: center;
}

.weblib_tablenav .total-pages {
	margin-right: 2px;
}

.weblib_tablenav #table-paging {
	margin-left: 2px;
}

.weblib_tablenav a.button-secondary {
	display: block;
	margin: 3px 8px 0 0;
}

.weblib_tablenav {
	clear: both;
	height: 30px;
	margin: 6px 0 4px;
	vertical-align: middle;
}

.weblib_tablenav.themes {
	max-width: 98%;
}

.weblib_tablenav .weblib_tablenav-pages {
	float: right;
	height: 28px;
	margin-top: 3px;
	cursor: default;
	color: #555;
}

.weblib_tablenav .no-pages,
.weblib_tablenav .one-page .pagination-links {
	display: none;
}

.weblib_tablenav .weblib_tablenav-pages a,
.weblib_tablenav-pages span.current  {
	text-decoration: none;
	padding: 3px 6px;
}

.weblib_tablenav .weblib_tablenav-pages a,
.weblib_tablenav-pages-navspan {
	display: inline-block;
	min-width: 17px;
	border: 1px solid #ccc; /* same color as buttons border */
	padding: 3px 5px 7px;
	background: #e5e5e5;
	font-size: 16px;
	line-height: 1;
	font-weight: normal;
	text-align: center;
}

.weblib_tablenav-pages-navspan {
	height: 16px;
	border-color: #ddd; /* same as disabled buttons */
	background: #f7f7f7; /* same as disabled buttons */
	color: #a0a5aa; /* same as disabled buttons */
}

.weblib_tablenav .weblib_tablenav-pages a:hover,
.weblib_tablenav .weblib_tablenav-pages a:focus {
	border-color: #5b9dd9;
	color: #fff;
	background: #00a0d2;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none; /* IE8 */
}

.weblib_tablenav .displaying-num {
	margin-right: 7px;
}

.weblib_tablenav .one-page .displaying-num {
	display: inline-block;
	margin-top: 5px;
	margin-right: 0;
}

.weblib_tablenav .actions {
	overflow: hidden;
	padding: 2px 8px 0 0;
}

.weblib-list-table a {
	-webkit-transition: none;
	transition: none;
}

.weblib_tablenav .delete {
	margin-right: 20px;
}

/* @todo: unclear if the following weblib_tablenav rules are actually used.
classes exist in paginate_links() but not seen in list table output. */
.weblib_tablenav .dots {
	border-color: transparent;
}

.weblib_tablenav .next,
.weblib_tablenav .prev {
	border-color: transparent;
	color: #0073aa;
}

.weblib_tablenav .next:hover,
.weblib_tablenav .prev:hover {
	border-color: transparent;
	color: #00a0d2;
}

.weblib_tablenav .view-switch {
	float: right;
	margin: 0 5px;
	padding-top: 3px;
}


.weblib-list-table .toggle-row {
	position: absolute;
	right: 8px;
	top: 10px;
	display: none;
	padding: 0;
	width: 40px;
	height: 40px;
	border: none;
	outline: none;
	background: transparent;
}

.weblib-list-table .toggle-row:hover {
	cursor: pointer;
}

.weblib-list-table .toggle-row:focus:before {
    -webkit-box-shadow:
    	0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
    box-shadow:
    	0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
}

.ie8 .weblib-list-table .toggle-row:focus:before {
	outline: #5b9dd9 solid 1px;
}

.weblib-list-table .toggle-row:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.weblib-list-table .toggle-row:before {
	position: absolute;
	top: -5px;
	left: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	display: block;
	padding: 1px 2px 1px 0;
	color: #444; /* same as table headers sort arrows */
	content: "\f140";
	font: normal 20px/1 dashicons;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.weblib-list-table .is-expanded .toggle-row:before {
	content: "\f142";
}

.weblib-list-table.plugins tbody tr.plugin-update-tr td.plugin-update {
	overflow: hidden; /* clearfix */
	padding: 0;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.1);
}
/* ms */
/* Background Color for Site Status */
.weblib-list-table .site-deleted,
.weblib-list-table tr.site-deleted {
	background: #ff8573;
}
.weblib-list-table .site-spammed,
.weblib-list-table tr.site-spammed {
	background: #faafaa;
}
.weblib-list-table .site-archived,
.weblib-list-table tr.site-archived {
	background: #ffebe8;
}
.weblib-list-table .site-mature,
.weblib-list-table tr.site-mature {
	background: #fecac2;
}
table.fixed {
	table-layout: fixed;
}

.fixed .column-rating,
.fixed .column-visible {
	width: 8%;
}

.fixed .column-posts,
.fixed .column-date,
.fixed .column-parent,
.fixed .column-links,
.fixed .column-author,
.fixed .column-format {
	width: 10%;
}

.fixed .column-posts {
	width: 74px;
}

.fixed .column-comment .comment-author {
	display: none;
}

.fixed .column-response,
.fixed .column-categories,
.fixed .column-tags,
.fixed .column-rel,
.fixed .column-role {
	width: 15%;
}

.fixed .column-slug {
	width: 25%;
}

.fixed .column-locations {
	width: 35%;
}

.fixed .column-comments {
	width: 5.5em;
	padding: 8px 0;
	text-align: left;
}

.fixed .column-comments .vers {
	padding-left: 3px;
}

td.column-title strong,
td.plugin-title strong {
	display: block;
	margin-bottom: .2em;
	font-size: 14px;
}

td.column-title p,
td.plugin-title p {
	margin: 6px 0;
}
#the-list tr:last-child td,
#the-list tr:last-child th {
	border-bottom: none !important;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sorting-indicator {
	display: block;
	visibility: hidden;
	width: 10px;
	height: 4px;
	margin-top: 8px;
	margin-left: 7px;
}

.sorting-indicator:before {
	content: "\f142";
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0;
	top: -4px;
	left: -8px;
	color: #444;
	line-height: 10px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	color: #444;
}

.column-comments .sorting-indicator:before {
	top: 0;
	left: -10px;
}

th.sorted.asc .sorting-indicator:before,
th.desc:hover span.sorting-indicator:before,
th.desc a:focus span.sorting-indicator:before {
	content: "\f142";
}

th.sorted.desc .sorting-indicator:before,
th.asc:hover span.sorting-indicator:before,
th.asc a:focus span.sorting-indicator:before {
	content: "\f140";
}
.fixed .column-comments .sorting-indicator {
	margin-top: 3px;
}

th.sorted .sorting-indicator,
th.desc:hover span.sorting-indicator,
th.desc a:focus span.sorting-indicator,
th.asc:hover span.sorting-indicator,
th.asc a:focus span.sorting-indicator {
	visibility: visible;
}
th.sortable a,
th.sorted a {
	display: block;
	overflow: hidden;
	padding: 8px;
}

.fixed .column-comments.sortable a,
.fixed .column-comments.sorted a {
	padding: 8px 0;
}

th.sortable a span,
th.sorted a span {
	float: left;
	cursor: pointer;
}




.keywordchecklist {
	margin-left: 14px;
	font-size: 12px;
	overflow: auto;
}

.keywordchecklist strong {
	margin-left: -8px;
	position: absolute;
}

.keywordchecklist span {
	margin-right: 25px;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 1.8em;
	white-space: nowrap;
	cursor: default;
}

.keywordchecklist span a {
	margin: 3px 0pt 0pt -12px;
	cursor: pointer;
	width: 12px;
	height: 12px;
	display: block;
	float: left;
	/*text-indent: -9999px;*/
	overflow: hidden;
	position: absolute;
	color: blue;
}

.howto {
	font-style: italic;
	display: block;
	font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif;
}

.keywordssdiv .the-keywordss {
        display: block;
        height: 60px;
        margin: 0 auto;
        overflow: auto;
        width: 260px;
}



/* Error messages are in <span id="error">...</span>.
   Initially bold and red. */

#error {
  color: red;
  font-weight: bold;
}

/* Overdue and expired dates are in <span class="overdue">...</span>.
   Initially italic and red. */

span.overdue {
  font-style: italic;
  color: red;
}

/* All <input type="submit" ...> and many <a href=""...> have 
   class="weblib-button" -- the links are meant to look like buttons.
   I coded the submit buttons to have this class as well as the <a href>'s, 
   so that they would all have the same styling. */

/* Common button styling */
.weblib-button {
  border: outset 2px #dcdad5;
  cursor: pointer;
  color: #000000;
  background-color: #dcdad5;
}

.weblib-button:hover {
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

/* Links-as-buttons styling */
a.weblib-button {
  height: 24px;
  white-space: nowrap;
  padding: 2px;
  /*padding: 0px;*/
  margin-top: 2px;
  margin-bottom: 2px;
}

a.weblib-button:link {
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

a.weblib-button:visited {
  color: #000000;
  font-weight: normal;
  text-decoration: none;
}

.weblib-item-pagination-table {
  display: table;
  width: 40%;
  margin: 2px 30%;
}

.weblib-item-pagination {
  display: table-row;
  width: 100%;
  padding: 8px 0px;
  font-size: 120%;
}

.weblib-item-pagination .pagelabel {
  vertical-align: top;
  display: table-caption;
  padding: 2px;
  font-weight: bold;  
}

.weblib-item-pagination .pagelink {
  vertical-align: top;
  display: table-cell;
  margin: 0px;
}

.weblib-item-pagination .pagenumform {
  white-space: nowrap;
  width: 25%;
}

.weblib-total-results {
  white-space: nowrap;
  font-weight: bold;
  font-size: 150%;
  float: left;
}

.weblib-item-long {
  display: table;
}

.weblib-item-row {
  display: table-row;
  padding: 8px 0px;
  width: 100%;
}

.weblib-item-left {
  width: 90%;
}

.weblib-item-right {
}

.weblib-item-center-head {
  font-weight: bold;
  text-align: center;
  display: table-cell;
  padding: 2px;
}

.weblib-item-keyword-list {
  text-align: center;
  display: table-cell;
  padding: 2px;
}

.weblib-item-left-head {
  font-weight: bold;
  text-align: right;
  display: table-cell;
  padding: 2px;
}

.weblib-item-left-content {
  text-align: left;
  display: table-cell;
  padding: 2px;
}

.weblib-item-author {
  text-decoration: underline;
}

.weblib-item-title {
  font-weight: bold;
}

.weblib-item-content-block, .weblib-item-table {
  display: table;
}

.weblib-item-content-element {
  display: table-row;
}





.weblib-item-element {
  display: table-cell;
  vertical-align: top;
  padding: 2px;
}

.weblib-item-info {
  width: 85%;
}

.weblib-item-index {
  font-size: 150%;
  padding: 0px 4px;
  text-align: left;
  width: 5%;
}

.weblib-item-brief {
}

.weblib-item-holdbutton {
}

.weblib-item-thumb {
  padding: 0px 4px;
}

.weblib-item-thumb img {
  min-width: 48px;
  min-height: 72px;
}
